body{
    background-color:rgb(210, 167, 250);
    font-family: 'Press Start 2P', cursive;
    font-size: 17px;
}

#about{
    font-size: 35px;
}

.dropbtn{
    background-color: #7d78c4;
	color: black;
}

.dropdowns{
    position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 100px;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd}
.show {display: block;}

img.center {
	display: block;
	margin: auto;
}
